.work{

  &--title{
    color:black;
    font-size: 36px;
    font-family: $font-family-default;
    @media(min-width:576px){
      font-size: 48px;
    }
  }

  &--description{
    color:gray;
    font-size:14px;
    line-height: 28px;
    font-family: $font-family-secondary;
    text-align: justify;
    @media(min-width:576px){
      font-size: 16px;
      line-height: 36px;
    }
  }
  &--skill{
    text-transform: uppercase;
    color:#d24d57;
  }
  &--img{
    width: 100%;
    @media(min-width:576px){
      width: 75%;
      margin: auto;
    }
    align-self: center;
  }
  &--extra{
    width: 100%;
    margin: 24px auto;
    @media(min-width: 576px){
      width: 70%;
    }
  }
  &--credit{
    font-weight: normal;
    font-size: 11px;
  }
  &--container-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  &--button{
    margin: 24px 12px;
    border-width: 2px;
    font-size:12px;
    max-width: 150px;
    padding: 12px 18px;
    @media(min-width:576px){
      max-width:275px;
      font-size:14px;
    }
    &:hover{
      color: white;
    }
  }
}
