#portfolio__logo{
  width: 30px;
  height: 40px;
  @media(min-width: 576px){
    width: 50px;
    height: 65px;
  }
  svg{
    circle{fill: white;transition: all 1s;}
    path.st1{
      fill:#dc3545;
    }
  }
}
